@keyframes mostrar {
  0% {
  }
  15% {
    height: auto;
    visibility: hidden;
    opacity: 0;
  }
  20% {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  90% {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
  95% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    height: 0;
  }
}
