.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  color: #fff;
  font-family: helvetica, sans-serif;
  height: auto;
  background: rgba(3, 3, 3, 0.7);
  border-radius: 10px;
  overflow: hidden;
  max-width: 350px;
  margin: 0 10px;
  transition: all ease .5s;
  animation-name: aparecer;
  animation-duration: 1s;
}

.cards:hover{
  transform: translateY(-2px);
  transition: all ease .2s;
}

.cards a {
  text-decoration: none;
  color: #fff;
}

.cards-header h2 {
  background: #e64c3c;
  margin:0;
  padding: 10px 20px;
  text-align: center;

}

.cards-content h2 {
  padding: 10px 20px;
  margin: 0;
  font-size: 1.3em;
}

.cards-content:hover {
  background: rgba(3, 3, 3, 0.3);
  transition: all ease .2s;
}
