/* ***********************************************************
  Estilos al header 
     *************************************************************/
.header {
  background: #333; /* Estilos es para poder usar el absolute en un elemento hijo */
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0;
}
/* esto es para que todos se posicionen uno de lado de otro */
.header__texto,
.header__logo,
.header__uptaeb {
  display: inline-block;
  height: 50px;
}

.header__texto {
  color: #aaa;
}
.header__titulo {
  font-size: 1.5em;
}
.header__logo {
  height: 70px;
  width: 200px;
  background: url(../../img/1.jpg) center / contain no-repeat;
 
}
.header__uptaeb {
  background: url(../../img/UPTAEB.png) center / contain no-repeat;
  width: 60px;
}

.header a:hover {
  color: #e64c3c;
}
