.produccion {
  width: 100%;
  height: 100%;
  max-height: 540px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.733);
}
.produccion h2 {
  background: #e64c3c;
  text-align: center;
  color: #eee;
  height: 60px;
  line-height: 60px;
  font-family: helvetica, sans-serif;
}
.produccion__equipos {
  min-height: 300px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.equipos__laptops,
.equipos__tablets {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.equipos__tablets {
  float: right;
}
.produccion__equipos ul {
  list-style: none;
}
.produccion__equipos p,
.produccion__equipos li {
  font-size: 2em;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: #333;
}
.produccion__equipos li {
  font-size: 1em;
}
.produccion__equipos img {
  height: 200px;
}

.slider{
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 800%;

  animation: cambio 35s infinite alternate;
  animation-timing-function: ease-out;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
}
@keyframes cambio{
  0% { margin-left: 0; }
  10% { margin-left: 0; }

  15% {margin-left: -100%; }
  20% {margin-left: -100%; }

  30% {margin-left: -200%; }
  40% {margin-left: -200%; }

  40% {margin-left: -300%; }
  50% {margin-left: -300%; }

  50% {margin-left: -400%; }
  60% {margin-left: -400%; }

  60% {margin-left: -500%; }
  70% {margin-left: -500%; }

  80% {margin-left: -600%; }
  90% {margin-left: -600%; }

  90% {margin-left: -700%; }
  100% {margin-left: -700%; }

}

.inline {
  display: inline-block;
}

.contenedor {
  flex-basis: calc(100% - 60px);
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}


.alerta {
  background-color: #444;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.alerta-header {
  color: #fff;
  font-family: helvetica;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: #e64c3c;
}

.alerta-mensaje {
  margin: 10px;
  background-color: rgba(3, 3, 3, 0.3);
  color: #fff;
  padding: 10px;
  font-family: helvetica;
  border-radius: 10px;
  transition: transform ease .3s;
}

.alerta-mensaje:hover {
  background-color: rgba(3, 3, 3, 0.1);
  transform: scale(1.05,1.05);
}

.alerta-header {
  font-size: 1.5em;
}

.alerta-mensaje .titulo {
  color: #e64c3c;
  font-weight: bold;
  margin-bottom: 5px;
}

.alerta-mensaje .mensaje {
 font-family: sans-serif;
}
.alerta-mensaje p {
  padding: 0;
  margin: 0;
}