.produccion {
  width: 100%;
  height: 100%;
  max-height: 540px;
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.733);
}
.produccion h2 {
  background: #e64c3c;
  text-align: center;
  color: #eee;
  height: 60px;
  line-height: 60px;
  font-family: helvetica, sans-serif;
}
.produccion__equipos {
  min-height: 300px;
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-content: center;
}
.equipos__laptops,
.equipos__tablets {
  width: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.equipos__tablets {
  float: right;
}
.produccion__equipos ul {
  list-style: none;
}
.produccion__equipos p,
.produccion__equipos li {
  font-size: 2em;
  font-family: helvetica, sans-serif;
  font-weight: bold;
  color: #333;
}
.produccion__equipos li {
  font-size: 1em;
}
.produccion__equipos img {
  height: 200px;
}

.slider{
  width: 100%;
  max-width: 500px;
  overflow: hidden;
}
.slider ul {
  display: flex;
  padding: 0;
  width: 800%;

  animation: cambio 35s infinite alternate;
  animation-timing-function: ease-out;
}
.slider li{
  width: 100%;
  list-style: none;
}
.slider img{
  width: 100%;
}
@keyframes cambio{
  0% { margin-left: 0; }
  10% { margin-left: 0; }

  15% {margin-left: -100%; }
  20% {margin-left: -100%; }

  30% {margin-left: -200%; }
  40% {margin-left: -200%; }

  40% {margin-left: -300%; }
  50% {margin-left: -300%; }

  50% {margin-left: -400%; }
  60% {margin-left: -400%; }

  60% {margin-left: -500%; }
  70% {margin-left: -500%; }

  80% {margin-left: -600%; }
  90% {margin-left: -600%; }

  90% {margin-left: -700%; }
  100% {margin-left: -700%; }

}

.inline {
  display: inline-block;
}

.contenedor {
  flex-basis: calc(100% - 60px);
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}


.alerta{
  color: #fff;
  font-family: helvetica, sans-serif;
  height: auto;
  background: rgba(3, 3, 3, 0.7);
  border-radius: 10px;
  overflow: hidden;
  max-width: 350px;
  margin: 0 10px;
  transition: all ease .5s;
  animation-name: aparecer;
  animation-duration: 1s;
}

.alerta:hover{
  transform: translateY(-2px);
  transition: all ease .2s;
}

.alerta a {
  text-decoration: none;
  color: #fff;
}

.alerta-header h2 {
  background: #e64c3c;
  margin:0;
  padding: 0;
  text-align: center;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;

}

.alerta-content h2 {
  padding: 10px 20px;
  margin: 0;
  font-size: 1.3em;
}

.alerta-content p {
  padding: 10px;
  margin: 0;
  font-size: 1.2em;
}

.alerta-content:hover {
  background: rgba(3, 3, 3, 0.3);
  transition: all ease .2s;
}
