.form {
  color: #fff;
  font-family: helvetica, sans-serif;
  height: auto;
  background: rgba(3, 3, 3, 0.7);
  border-radius: 10px;
  overflow: hidden;
  margin: 0 10px;
  transition: all ease .5s;
}

.form-header {
  font-size: 1.5em;
  background: #e64c3c;
  padding: 10px 20px;
  margin-bottom: 10px;
}
.form-header p {
  margin: 0;
}

.form__box {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  font-size: 1.1em;
  flex-wrap: wrap;

}

.form__box div {
  flex: 1 0 250px;
  max-width: 350px;
  display: flex;
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  flex-direction: column;
}
.form__box label {
  padding: 5px;
  background: #e64c3c;
}

.form__box input,
.form__box select{
  padding: 5px;
  font-size: 1.1em;
}

.form .bottom {
  padding: 15px;
  color: #fff;
  text-align: right;
  background: rgba(3, 3, 3, 0.2);
}
.form .bottom button{
  padding: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1em;
  color: #fff;
  background: #e64c3c;
  transition: all ease .5s;
}
/* JAVASCRIPT */
.desaparecer {
  display: none;
  transition: display 2s ease;
}
.aparecer {
  display: inline-block;
  margin-bottom: 0;
}


.mensaje-button {
  padding: 5px 10px;
  border-radius: 5px 5px;
  margin-left: 20px;
  border: 2px solid #fff;
}
