/* Reseteo de estilos de navegador */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;

  color: #fff;
}
p {
  font-family: Helvetica, sans-serif;
}
ul {
  list-style: none;
}
label {
  text-align: center;
  color: white; 
  font-family: Helvetica, sans-serif;
}
.boton {
  padding: 5px 10px;
  cursor: pointer;
  text-decoration: none;
  background: #e64c3c;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  box-shadow: 0px 3px 5px -2px rgba(0, 0, 0, 0.75);
}
#mensaje {
  visibility: hidden;
  height: 0;
  width: 100%;
  margin: 10px 0 0;
  justify-self: self-start;
  background: #e64c3c;
  text-align: center;
  color: #eee;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  animation: mostrar 5s ease-in-out;
}
#error {
  width: 100%;
  position: absolute;
  background: #e64c3c;
  text-align: center;
  color: #eee;
  font-size: 1.3em;
  font-family: Arial, Helvetica, sans-serif;
  animation: mostrar 10s linear 0.2s;
}
